@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<hr />
<div id="demoMap">
    <iframe width="1000" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=20.74673652648926%2C41.09617078744703%2C20.842523574829105%2C41.13509819211414&amp;layer=mapnik" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/#map=14/41.1156/20.7946">View Larger Map</a></small>
</div>

