
@{
    ViewBag.Title = "PlacesToVisit";
}

@Styles.Render("~/Content/vtora.css")

<div id="vtordel">
    <div id="vtordelh1">
        <h1>@Resources.PlacesToVisit</h1>
    </div>
</div>
<div id="tretdel">
    <div id="levo">
        <h2>Church of St Jovan at Kaneo </h2>
        <p>Fusing together Byzantine and Armenian architectural church styles and almost as famous for its location as for the building itself, the date of construction of this particular masterpiece has been lost to history, although surviving documents suggest it’s been standing on the edge of the cliff overlooking the lake since at least 1447. The unusual exterior stone carvings create a good excuse to follow the track around the water to find the place and the frescos painted on the dome, hidden until 1964, are well worth the pain in the neck you’ll get whilst staring at them in wonder. &nbsp;</p>
        <p>Location: Kaneo Plaoshnik Pateka <a href="https://en.wikipedia.org/wiki/Church_of_St._John_at_Kaneo" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
    <div id="desno">
        <img src="~/Content/images/kaneo.png" alt="St Jovan at Kaneo">
    </div>
</div>
<br />
<br />
<div id="cetvrtdel">
    <div id="levo">
        <img src="~/Content/images/plaosnik.png" alt="St Saint Clement & Pantelejmon">
    </div>
    <div id="desno">
        <h2>Church of Saint Clement & Pantelejmon</h2>
        <p>A Byzantine beauty whose precise origins are shrouded in mystery and that’s thought to have been built on the site where the Glagolitic script, the forerunner to today’s Cyrillic script, was created and that some people say was designed by St. Clement of Ohrid (840-916) himself. Briefly converted into a mosque by the Ottomans during the 15th century, unlike many similar churches the magic surrounding this place isn’t so much about its architectural splendour or what treats lie waiting inside but has much more to do with its associations with several renowned figures, a fact that makes it one of the holiest sites in the entire region.</p>
        <p>Location: Kuzman Kapidan <a href="https://en.wikipedia.org/wiki/Church_of_Saints_Clement_and_Panteleimon" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a> </p>

    </div>
</div>
<div id="pettidel">
    <div id="levo">
        <h2>Saint Sophia Cathedral </h2>
        <p>Constructed during the period when the Bulgarian Empire ruled over the town, many experts claim that this massively important and absolutely unmissable church dates as far back at the end of the 9th century. Another Orthodox building that once suffered the fate of being turned into a mosque at the hands of the Ottomans, the beautifully preserved frescoes inside date from between the 11th and 13th centuries. Such is the importance of the building that you’ll find it lurking on the back of the 1000den banknote.&nbsp;</p>
        <p>Location: Car Samoil <a href="https://en.wikipedia.org/wiki/Church_of_Saint_Sophia,_Ohrid" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
    <div id="desno">
        <img src="~/Content/images/svsofija.png" alt="Saint Sophia Cathedral">
    </div>

</div>
<br />
<br />
<div id="cetvrtdel">
    <div id="levo">
        <img src="~/Content/images/samoliova.png" alt="Samuel’s Fortress">
    </div>
    <div id="desno">
        <h2>Samuel’s Fortress </h2>
        <p>Tsar Samuel (?-1014) is a controversial figure in modern Macedonia and his fortress overlooking the town is another of the town’s buildings shrouded in myth and mystery. Believed to have been constructed on a much earlier fortress dating from the 4th century BC, little remains of this once grand stronghold with the exception of the remaining outer wall structures, a few watch towers and four original gates. Despite the fortress being in a relative bad condition, the small entrance fee to get inside is worth the trip up the hill for both gaining a better understanding of the former strategic importance of Ohrid and for the related and spectacular views of the lake and surrounding mountains. &nbsp;</p>
        <p>Location: Samoil's Fortress <a href="https://en.wikipedia.org/wiki/Samuel%27s_Fortress,_Ohrid" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
</div>
<div id="pettidel">
    <div id="levo">
        <h2>Ancient Theatre</h2>
        <p>Dating from around 200BC, the remains of this spectacular outdoor theatre laid buried and forgotten for centuries before being discovered completely by accident in the 1980s. Nowadays the former location of gladiator battles and murdering Christians is used for less violent affairs and is a popular location for all manner of theatrical and musical performances during the summer.</p>
        <p>Location: Ilindenska <a href="https://en.wikipedia.org/wiki/Ancient_Theatre_of_Ohrid" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a> </p>

    </div>
    <div id="desno">
        <img src="~/Content/images/anticki.png" alt="Ancient Theatre">
    </div>
</div>
<br />
<br />
<div id="cetvrtdel">
    <div id="levo">
        <img src="~/Content/images/svetinaum.png" alt="Saint Naum Monastery">
    </div>
    <div id="desno">
        <h2>Saint Naum Monastery </h2>
        <p>Boasting some of the most extraordinary frescos and icon paintings in Macedonia and dating from 905AD, the beautiful monastery complex of St. Naum a shade under 30km south of Ohrid and close to the Albanian border. Complete with restaurant, gift shops, boat tours and peacocks running wild in the gardens, the original monastery was founded by St. Naum (c.830 -910), a disciple of Sts. Cyril and Methodius and one of the seven Apostles of the First Bulgarian Empire. Adventurous travellers visiting the monastery by car with a few hours to spare might be interested to learn that the nearby border crossing is seldom busy and that an unscheduled trip to Albania is highly recommended...&nbsp;</p>
        <p>Location: Saint Naum <a href="https://en.wikipedia.org/wiki/Monastery_of_Saint_Naum" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
</div>
<br />
<br />
<div id="tretdel">
    <div id="levo">
        <h2>Bay of Bones </h2>
        <p>If you’re planning a trip to the fabulous St. Naum Monastery and have the means to stop, this somewhat speculative reconstruction of a prehistoric pile-dwelling settlement jutting out over the lake offers an interesting diversion for 30 minutes or so. Based on recent underwater archaeological work carried out on a settlement dating from around 1000BC, find several woven huts whose designs are based on what the locals are believed to have once lived and worked in. The building next to the site contains a small museum with lots of information and a small café. This is also the place to arrange scuba diving trips to the nearby subterranean archaeological site. Just north is a recreation of a small Roman fort that can also be visited. &nbsp;</p>
        <p>Location: Bay of Bones Museum,Р501 <a href="https://www.discoveringmacedonia.com/2018/bay-of-bones-museum-ohrid/" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
    <div id="desno">
        <img src="~/Content/images/koski.png" alt="Bay of Bones">
    </div>
</div>
<br />
<br />
<div id="cetvrtdel">
    <div id="levo">
        <img src="~/Content/images/robevci.png" alt="Robevi Family House">
    </div>
    <div id="desno">
        <h2>Robevi Family House</h2>
        <p>Housed inside the fine old house built in 1864 that gives the place its name and that’s been protected as a building of significant cultural and historical importance since the end of the Second World War, this fascinating museum on three floors features many wonderful examples of ancient statues and other stone monuments collected during archaeological expeditions in the region over the last century or so including a carved torso of the Goddess Isis dating from the 2nd century BC and an ancient gold burial mask and glove unearthed on top of the hill close to Samuel’s Fortress. On the top floor find an exhibition space for showcasing the work of Ohrid’s still working traditional woodcarvers and other folk art from around the country.</p>
        <p>Location: Car Samoil 62 <a href="https://en.wikipedia.org/wiki/Robevi_family_house" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a> </p>

    </div>
</div>
<br />
<br />
<div id="pettidel">
    <div id="levo">
        <h2>Church of the Holy Mary Perybleptos</h2>
        <p>One of the oldest churches in Ohrid, this magnificent structure was built in 1295 and is particularly interesting for the frescos that lie within. Among the many outstanding works painted here are originals by Michael Astrapas and Eutychios, 13th-century painters from Thessaloniki whose signed works literally take your breath away. Known to many locals as the Macedonian Sistine Chapel due to the amazing images on the domed ceiling, the church is also home to small collection of black and white photographs depicting Ohrid during the Ottoman period. Across the courtyard is the truly outstanding Icon Gallery.&nbsp;</p>
        <p>Location: Clement's University <a href="https://whereismacedonia.org/holy-mary-perybleptos-st-clement-ohrid-macedonia/" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
    <div id="desno">
        <img src="~/Content/images/perivlepta.png" alt="Church of the Holy Mary Perybleptos">
    </div>
</div>