
@{
    ViewBag.Title = "PlacesToVisit2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/treta.css")

    <div id="vtordel">
        <div id="vtordelh1">
            <h1>The best places to visit in Ohrid</h1>
        </div>
        <div id="pagination">
            <a href="Vtora.html">&laquo;</a>
            <a href="~/Views/Home/PlacesToVisit.cshtml">1</a>
            <a class="active" href="~/Views/Home/PlacesToVisit2.cshtml">2</a>
            <a href="Cetvrta.html">3</a>
            <a href="Cetvrta.html">&raquo;</a>
        </div>
    </div>
<div id="tretdel">
    <div id="levo">
        <h2>Samuel’s Fortress </h2>
        <p>Tsar Samuel (?-1014) is a controversial figure in modern Macedonia and his fortress overlooking the town is another of the town’s buildings shrouded in myth and mystery. Believed to have been constructed on a much earlier fortress dating from the 4th century BC, little remains of this once grand stronghold with the exception of the remaining outer wall structures, a few watch towers and four original gates. Despite the fortress being in a relative bad condition, the small entrance fee to get inside is worth the trip up the hill for both gaining a better understanding of the former strategic importance of Ohrid and for the related and spectacular views of the lake and surrounding mountains. &nbsp;</p>
        <p>Location: Samoil's Fortress <a href="https://en.wikipedia.org/wiki/Samuel%27s_Fortress,_Ohrid" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
    <div id="desno">
        <img src="~/Content/images/samoliova.png" alt="Samuel’s Fortress">
    </div>
</div>
<div id="cetvrtdel">
    <div id="levo">
        <img src="~/Content/images/anticki.png" alt="Ancient Theatre">
    </div>
    <div id="desno">
        <h2>Ancient Theatre</h2>
        <p>Dating from around 200BC, the remains of this spectacular outdoor theatre laid buried and forgotten for centuries before being discovered completely by accident in the 1980s. Nowadays the former location of gladiator battles and murdering Christians is used for less violent affairs and is a popular location for all manner of theatrical and musical performances during the summer.</p>
        <p>Location: Ilindenska <a href="https://en.wikipedia.org/wiki/Ancient_Theatre_of_Ohrid" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a> </p>

    </div>
</div>
<div id="pettidel">
    <div id="levo">
        <h2>Saint Naum Monastery </h2>
        <p>Boasting some of the most extraordinary frescos and icon paintings in Macedonia and dating from 905AD, the beautiful monastery complex of St. Naum a shade under 30km south of Ohrid and close to the Albanian border. Complete with restaurant, gift shops, boat tours and peacocks running wild in the gardens, the original monastery was founded by St. Naum (c.830 -910), a disciple of Sts. Cyril and Methodius and one of the seven Apostles of the First Bulgarian Empire. Adventurous travellers visiting the monastery by car with a few hours to spare might be interested to learn that the nearby border crossing is seldom busy and that an unscheduled trip to Albania is highly recommended...&nbsp;</p>
        <p>Location: Saint Naum <a href="https://en.wikipedia.org/wiki/Monastery_of_Saint_Naum" target="_blank" style="float: right"> <img src="~/Content/images/search.png" alt="wikipedia.org"></a></p>
    </div>
    <div id="desno">
        <img src="~/Content/images/svetinaum.png" alt="Saint Naum Monastery">
    </div>
</div>