
@{
    ViewBag.Title = "PlacesToVisit";
}

<h2>Places To Visit</h2>

<ul>
    <li>Church Sv. Jovan Kaneo</li>
    <li>Museum "Bay of Bones"</li>
    <li>Ancient Theatre Ohrid</li>
    <li>Monastery Sv. Naum of Ohrid</li>
</ul>