
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</h3>
<h3>@Html.ActionLink("Македонски", "Change", "Language", new { LanguageAbbrevation = "mk" }, null)</h3>
@Html.ActionLink(Resources.Go_back, "Index", "Home", null, new { @class = "btn btn-default"})
