@{
    ViewBag.Title = "Home Page";
} 

<h2>Welcome to our page!</h2>
<br />
<h5>Here, you can find information on different hotels and apartments you can book for your stay in Ohrid</h5>
<h5>Also, see the places recommended by us that you should visit on your trip here</h5>
<br />
<h3>Enjoy your stay in this beautiful city!</h3>
<br />
<br />

@Html.ActionLink("Find accomodation in Ohrid", "FindAccomodation", "Home")
<br />
@Html.ActionLink("Places to visit", "PlacesToVisit", "Home")